:root {
  font-size: 100%;
  font-family: "Domaine Sans Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center; }

body {
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem 0.5rem 4rem; }

header, nav, main {
  width: 100%; }

header {
  margin: 5rem auto; }

main {
  margin: 0 1rem 5rem; }

.one-rem-bottom {
  margin: 0 0 1rem; }

/* Layout {{{1 */
main#bilder {
  width: 100%; }
  main#bilder h2 {
    font-size: 1.5rem;
    text-align: center; }
  main#bilder #bilder-raster {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1.5rem .5rem;
    align-items: center;
    justify-items: center; }
    main#bilder #bilder-raster img {
      max-width: 100%; }

main#index img,
main#bild img {
  max-width: 100%;
  margin-bottom: 1rem; }

/* Layout }}}1 */
/* Navigation {{{1 */
nav ul {
  display: flex;
  justify-content: center; }
  nav ul li {
    margin: 0 0 0.25rem;
    text-align: center;
    margin: 0 1rem; }

/* Navigation }}}1 */
/* Links {{{1*/
header h1 a {
  text-decoration: none;
  color: black; }

nav ul li a,
nav ul li a.link,
nav ul li a.visited {
  text-decoration: none;
  color: black; }

nav ul li a.focus,
nav ul li a.hover {
  color: tomato; }

/* Links }}}1*/
/* Filter {{{1*/
#filter {
  text-align: center;
  margin: 2rem 0; }
  #filter h3#filter-title {
    cursor: pointer; }
  #filter ul li {
    margin-bottom: .25rem; }
    #filter ul li a,
    #filter ul li a.link,
    #filter ul li a.visited {
      text-decoration: none;
      color: black; }
    #filter ul li a.focus,
    #filter ul li a.hover {
      color: black; }

/* Filter }}}1*/
/* Text Styles {{{1*/
h1 {
  font-size: 2rem;
  line-height: 1; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500; }

p, li {
  font-weight: 300; }

h2, h3, h4, h5, p {
  margin: 0 0 1rem; }

nav, #filter {
  font-size: 1rem;
  font-family: "Input Sans Narrow";
  font-weight: 300; }

/* Text Styles }}}1*/
/* Desktop {{{1*/
@media (min-width: 500px) {
  :root {
    font-size: 125%; }
  body {
    padding: 1rem 3rem 4rem; }
  main#bilder #bilder-raster {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 3rem; }
  /* Desktop Text Styles {{{2*/
  nav, #filter {
    font-size: 0.75rem; }
  /* Desktop Text Styles }}}2*/ }

/* Desktop }}}1*/
