:root {
  font-size: 100%;
  line-height: 1.2;
  font-family: "Domaine Sans Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
  font-variant-numeric: oldstyle-nums;
}

body {
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem 0.5rem 4rem;
}

// .one-rem-bottom {
//   margin: 0 0 1rem;
// }

/* Layout {{{1 */

header, nav, main { 
  width: 100%;
}

header { margin: 3rem auto; }

main { margin: 0 1rem 5rem ; }

main#bilder {
  width: 100%;
  min-height: 80%; /* kein Springen beim Filtern */
  h2 { 
    font-size: 1.5rem;
    text-align: center;
  }
  #bilder-raster {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1.5rem .5rem ;
    align-items: center;
    justify-items: center;
    img { max-width: 100%; }
  }
}

main#index,
main#bild {
  img {
      max-width: 100%;
      margin-bottom: 1rem;
  }
}

main#workshops {
  #description {
    background: #b5c9f7;
    padding: 1.25rem 1rem;
    text-align: left;
    p { hyphens: auto; }
  }
}

/* Layout }}}1 */

/* Navigation {{{1 */

nav {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    list-style: none;
  }
}

/* Navigation }}}1 */

// font test
nav a,
main a {
}

/* Links {{{1*/
header h1 {
  a {
    text-decoration: none;
    color: black;
  }
}

nav ul li {
  a,
  a.link,
  a.visited {
    text-decoration: none;
    color: black;
  }
  a.focus,
  a.hover {
    color: tomato;
  }
}
/* Links }}}1*/

/* Filter {{{1*/

#filter {
  text-align: center;
  margin: 0 0 1rem;
  h3#filter-title {
    cursor: pointer;
    margin-bottom: .5rem;
  }
  ul {
    display: inline-block;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: .5rem 2rem .1rem;

    li {
      margin-bottom: .5rem;
      a,
      a.link,
      a.visited {
        font-family: 'Domaine Sans Text';
        text-decoration: none;
        color: black;
      }
      a.focus,
      a.hover {
        color: black;
      }
      a.inactive { color: tomato; }
    }
  }
}

/* Filter }}}1*/

/* Text Styles {{{1*/
h1 {
  font-variant-caps: all-small-caps;
  font-size: 1.5rem;
  line-height: 1;
}

h1, h2, h3, h4, h5, h6, strong { font-weight: 500; }

strong em, em strong { font-style: normal; }

p, li, figcaption { font-weight: 300; }

h2, h3, h4, h5, p, figcaption { margin: 0 0 1rem; }

nav, #filter {
  font-size: 1rem;
  font-family: "Input Sans Narrow", monospace;
  font-weight: 300;
  h3 { font-weight: 300; }
}

/* Text Styles }}}1*/

/* Lists {{{1*/

main ul { 
  margin: 0 0 1rem;
  padding-left: 0;
  list-style-position: inside;
  li {padding-left: 0.3rem;}
}

/* Lists }}}1*/

/* Buttons {{{1*/

p.button {
  display: inline-block;
  background: black;
  border-radius: 1rem;
  margin: 1rem auto;
  padding: .5rem 1rem;
  text-align: center;
  cursor: pointer;
  a {
    text-decoration: none;
    color: white;
    font-family: "Input Sans Narrow", monospace;
  }
}

p.button:hover {
  background: deeppink;
}

/* Buttons }}}1*/

/* Desktop {{{1*/

@media (min-width: 500px) {
  :root { font-size: 100%; }
  body {
    padding: 1rem 3rem 4rem;
  }
  main#bilder #bilder-raster {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 3rem;
  }

  /* Desktop Nav {{{2*/
  nav ul { 
    justify-content: center;
    li {
      margin: 0 1rem;
    }
  }

  /* Desktop Nav }}}2*/

  /* Desktop Text Styles {{{2*/
  h1 {
    font-size: 1.5rem;
  }
  nav, #filter { font-size: 0.9rem; }
  /* Desktop Text Styles }}}2*/
}

/* Desktop }}}1*/
