/.env
/.idea
/vendor
.DS_Store
**/*.swp
/uploads
gulpfile.js
node_modules/
package-lock.json
package.json
.woff
.woff2
.otf
.ttf
/web/assets/fonts/
/web/assets/general/
/web/assets/paintings/
/web/.well-known/
/vue.js
web/assets/vue/vue.js
