<ul>
  {# <li><a href="https://auction.francoisenussbaumer.ch">Auktion</a></li> #}
  <li><a href="/bilder">Bilder</a></li>
  <li><a href="/workshops">Workshops</a></li>
  <li><a href="/about">Über mich</a></li>
  {# ist das argument nach der url nötig? #}
  {# <li><a href="https://francoisenussbaumer.us15.list-manage.com/subscribe?u=c3c1b11be1b7631b7327939cc&id=6d259a4f6b" target="_blank">Newsletter</a></li> #}
</ul>
