{% extends '_layout' %}

{% set myAssetQuery = craft.assets().volume('paintings').kind('image') %}

{% block content %}
  <main id="bilder">

    <h2 class="one-rem-bottom">Bilder</h2>

      <section id="bilder-raster">
        {% if myAssetQuery.all()|length %}
          {% set paintings = myAssetQuery.all() %}
          {% for painting in paintings %}
            <a href="">
              <img src="{{ painting.getUrl('thumb') }}" alt="{{ painting.title }}">
            </a>
          {% endfor %}
        {% else %}
          <p style="">Im Moment gibt es noch keine Bilder.</p>
        {% endif %}
      </section>

  </main>
{% endblock %}
