{% extends "_layout" %}

{% block content %}
  <main>
    <h2>Homepage</h2>
    <p>Consectetur odit perspiciatis a molestiae architecto amet Reiciendis quas totam hic voluptatem officia Vel sequi animi cumque quis totam? Consectetur ut obcaecati repellendus mollitia rerum.</p>
    <img src="{{ alias( '@assetBasePath' ) }}/_pic/test.svg" alt="">
    <p>Consectetur odit perspiciatis a molestiae architecto amet Reiciendis quas totam hic voluptatem officia Vel sequi animi cumque quis totam? Consectetur ut obcaecati repellendus mollitia rerum.</p>
  </main>
{% endblock %}
